
.pho-container{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: center;
}
.pho-container figure{
    margin: auto;
    text-align: center;
    
}

img{
    margin: 5px;
    padding: 5%

}